@import 'styles/globals';

.button {

  &-add {
    color: white;
    background-color: #4AAAA7;
    border: none;
    width: 30px;
    height: 28px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 1px;
  }

  &-edit {
    color: white;
    background-color: #FFCC77;
    border: none;
    width: 30px;
    height: 28px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 1px;
  }

  &-view {
    color: white;
    background-color: #FF77AA;
    border: none;
    width: 30px;
    height: 28px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 1px;
  }

  &-delete {
    color: white;
    background-color: #E26058;
    border: none;
    width: 30px;
    height: 28px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 1px;
  }
}