$color-accent: #E26058;
$color-primary: #A5D29F;
$color-secondary: #7ACDC7;
$color-tertiary: #4AAAA7;

$color-primary-darker: darken($color-primary, 20%);
$color-secondary-darker: darken($color-secondary, 20%);
$color-tertiary-darker: darken($color-tertiary, 20%);

$font-primary: "Trebuchet MS", Helvetica, sans-serif;

$background-color: #34414F;
$background-color-light: #454545;
$background-color-accent: #F0F0F0;